In [25]:
import pandas as pd

In [26]:
read_cif_errors = [
# PRIMARY
34987,
32847,
32848,
137856,
137857,
140544,
146376,
146377,
146378,
149244,
31160,
31532,
31538,
149242,
149243,
243534,
243535,
243536,
243537,
## BROKEN
264726,
411887,
# SECONDARY
32849,
32850
]

In [27]:
df_v1 = pd.read_csv("metadata_with_readcif_error.csv", index_col="index")
df_v1_reset = df_v1.reset_index(drop=True)
df_v1_reset

,ICSD_code,chemical_formula_sum,cell_length,space_group,date,latest
0,101191,O35 Sn10.32 Ti8.39 Zn6.14,14.87930,F -4 3 m,2021-02-01,True
1,101256,H6.44 Ca3 Fe1.96 Ir1.43 O12,12.53910,I -4 3 d,2021-02-01,True
2,101275,I14 Sr1 W6,14.51923,P n -3 Z,2021-02-01,True
3,101277,I14 Mg1 W6,14.19333,P n -3 Z,2021-02-01,True
4,101279,Ca1 I14 W6,14.38351,P n -3 Z,2021-02-01,True
...,...,...,...,...,...,...
21596,99985,Co0.4 O6.8 Sm1.6 Ti2,10.19700,F d -3 m Z,2005-04-01,True
21597,99986,Ni0.11 O6.945 Sm1.89 Ti2,10.21900,F d -3 m Z,2005-04-01,True
21598,99987,Ni0.22 O6.89 Sm1.78 Ti2,10.21400,F d -3 m Z,2005-04-01,True
21599,99988,Ni0.3 O6.85 Sm1.7 Ti2,10.21300,F d -3 m Z,2005-04-01,True
21600,99996,Ce2.666 Se3.999,8.97740,I -4 3 d,2005-04-01,True

In [28]:
df_v2 = df_v1_reset[~df_v1_reset['ICSD_code'].isin(read_cif_errors)]
df_v2_reset = df_v2.reset_index(drop=True)

df_v2_reset.to_csv("metadata.csv")

print(df_v2_reset["latest"].sum())

primary = df_v2_reset[df_v2_reset["latest"] == True]["ICSD_code"]
primary.to_csv("primary.lst", index=False, header=False, sep="\n")

secondary = df_v2_reset[df_v2_reset["latest"] == False]["ICSD_code"]
secondary.to_csv("secondary.lst", index=False, header=False, sep="\n")

print((1 - df_v2_reset["latest"]).sum())

14270
7308